.footer-admin {
    text-align: center;
    width: 100%;
    background-color: #2a2a86;
    color: #fff;
    font-size: 1.4rem;
    height: 60px;
    padding-top: 20px;
    a {
        color: var(--btn-primary-color);
    }
}