@import 'normalize.css';

:root {
    --primary-color: #fcaf17 ;
    --title-color: #11006F;
    --btn-primary-color: #eaa927;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

ul {
    margin: 0;
}
