.products {
        .products-container {
        .products-header {
            
        }
        .products-body {
            border-radius: 8px;
            .ant-col {
                font-size: 1.2rem;
            }
            .center-text {
                text-align: center;
            }
            .products-body__heading {
                padding: 10px 0;
                background-color: #a1bcee24;
                margin-top: 10px;
            }
            
        }
        .products-footer {
            text-align: center;
            margin: 20px 0;
        }
    }
}