.products {
    padding-bottom: 80px;

        .products-container {
        .products-header {
            
        }
        .products-body {
            .ant-col {
                font-size: 1.2rem;
            }

            .products-body__heading {
                padding: 10px 0;
                background-color: #a1bcee24;
                margin-top: 10px;
            }
            
        }
        
    }
}
.products-footer {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}