.product {
  width: 100%;
  background-color: #fff;
  margin-top: 36px;
  .product-container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    .product-topbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 48px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      :where(.css-dev-only-do-not-override-j0nf2s).ant-select:not(
          .ant-select-disabled
        ):not(.ant-select-customize-input):not(
          .ant-pagination-size-changer
        ):hover
        .ant-select-selector {
        border-color: var(--primary-color);
      }

      .ant-select-focused:where(.css-dev-only-do-not-override-jonf2s).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
        border-color: var(--primary-color);
      }

      .ant-select-dropdown .ant-select-item-option-selected {
        color: var(--primary-color) !important;
        font-weight: 500 !important;
      }
      
      span.ant-select-selection-item {
        color: var(--primary-color);
        font-weight: 500;
      }
    }

    .product-list {  
      padding-top: 12px;
      .product-item {
        &:hover {
          .product-item__images {
            img.product-thumbnail {
              display: none;
            }
            img.product-thumbnail--hover {
              display: block;
            }
          }
        }

        a {
          display: block;
          width: 100%;
          position: relative;
          .product-item__raiting-sold {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            z-index: 2;
            padding: 0 4px 0 4px;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background: rgba(0, 0, 0, 0.6);
            height: 24px;
            font-size: 1.2rem;
            color: #fff;
            font-weight: 600;
            display: flex;
            align-items: center;
            .product-item__raiting {
              display: flex;
              align-items: center;
              span {
                margin-left: 2px;
              }
            }
            .product-item__sold {
              margin-left: 3px;
              display: flex;
              align-items: center;
              .y-line {
                width: 1px;
                background-color: #fff;
                height: 11px;
                margin-right: 3px;
              }
              span {
                margin-left: 2px;
              }
            }
          }
          .product-item__images {
            position: relative;
            img.product-thumbnail {
              width: 100%;
              object-fit: cover;
              border-radius: 8px;
            }
            img.product-thumbnail--hover {
              width: 100%;
              object-fit: cover;
              border-radius: 8px;
              display: none;
            }
          }
          .product-item__info {
            margin-top: 10px;
            h3 {
              margin: 10px 10px 6px;
              font-size: 1.4rem;
              line-height: 1.8rem;
              height: 36px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              white-space: initial;
            }
            .product-item__prices {
              display: flex;
              justify-content: flex-start;
              font-size: 1.4rem;
              font-weight: 500;
              ins {
                color: #ff3102;
                margin: 0px 14px 0 10px;
                text-decoration: none;
              }
              span {
                color: #ff3102;
                margin-left: 10px;
              }
              del {
                color: #c4c4c4;
              }
            }
          }
        }
      }
      .product-list__pagination {
        margin: 30px auto 20px;
      }
    }
  }
}
