@keyframes emergeAddCart {
  from {
    opacity: 0.5;
    transform: translageX(-50%) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translageX(-50%) translateY(100%);
  }
}

.product {
  width: 100%;
  background-color: #fff;
  padding-top: 36px;

  .product-container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    .product-topbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 48px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      :where(.css-dev-only-do-not-override-j0nf2s).ant-select:not(
          .ant-select-disabled
        ):not(.ant-select-customize-input):not(
          .ant-pagination-size-changer
        ):hover
        .ant-select-selector {
        border-color: var(--primary-color);
      }

      .ant-select-focused:where(
          .css-dev-only-do-not-override-jonf2s
        ).ant-select:not(.ant-select-disabled):not(
          .ant-select-customize-input
        ):not(.ant-pagination-size-changer)
        .ant-select-selector {
        border-color: var(--primary-color);
      }

      .ant-select-dropdown .ant-select-item-option-selected {
        color: var(--primary-color) !important;
        font-weight: 500 !important;
      }

      span.ant-select-selection-item {
        color: var(--primary-color);
        font-weight: 500;
      }
    }

    .product-list {
      padding-top: 12px;
      
      .product-list__pagination {
        margin: 30px auto 20px;
      }
    }
  }
}

