.header {
  width: 100%;
  height: 100px;
  background: linear-gradient(#feedc8, #fff);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 100;
  top: 0;
  .header-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    .header-topbar {
      padding-top: 10px;
      .header-logo {
        a {
          color: var(--primary-color);
          font-size: 2.8rem;
          font-weight: 800;
        }
      }
      .header-search_bar {
        input {
          background-color: #fff;
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          height: 40px;
          &::placeholder {
            color: var(--title-color);
          }
          &:hover {
            border-color: var(--primary-color);
          }
          &:focus {
            border-color: var(--primary-color);
          }
        }
        span.ant-input-group-addon {
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          overflow: hidden;
          &:hover ~ span input {
            border-color: var(--primary-color);
          }
        }
        button {
          height: 40px;
          width: 70px;
          background-color: var(--primary-color);
          &:hover {
            opacity: 0.8;
          }

          span.anticon.anticon-search {
            font-size: 2.2rem;
            color: var(--title-color);
            font-weight: 600;
          }
        }
      }
      .header-contact {
        text-align: right;
        .header-location {
          height: 40px;
          display: inline-block;
          a {
            display: inline-block;
            font-size: 1.6rem;
            color: #000;
            position: relative;
            &:hover {
              p {
                color: var(--primary-color);
              }
            }
            .header-location__icon {
              position: absolute;
              top: 2px;
              left: 0;
            }
            p {
              margin: 0 0 0 18px;
              color: #000;

              font-weight: 600;
            }
          }
        }
        .header-phone_number {
          height: 40px;
          display: inline-block;
          margin-left: 10px;
          a {
            display: inline-block;
            font-size: 1.6rem;
            color: #000;
            position: relative;
            &:hover {
              p {
                color: var(--primary-color);
              }
            }
            .header-phone_number__icon {
              position: absolute;
              top: 2px;
              left: 0;
            }
            p {
              margin: 0 0 0 18px;
              color: #000;
              font-weight: 600;
            }
          }
        }
      }
    }
    .header-bottombar {
      margin-top: 14px;
      .list-item-big {
        list-style: none outside;
        padding-left: 0;
        margin: 0;
        .nav-item {
          display: inline-block;
          padding: 0 16px;

          &:hover {
            a::after {
              width: calc(100% + 10px);
            }
            a {
              color: var(--primary-color);
            }
          }
          &:first-child {
            padding-left: 0;
          }
          a {
            display: block;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--title-color);
            position: relative;

            &::after {
              content: "";
              width: 0px;
              height: 4px;
              position: absolute;
              bottom: -14px;
              left: -5px;
              display: inline-block;
              background: #fcaf17;
              transition: all 0.5s;
              border-top-right-radius: 5px;
              border-top-left-radius: 5px;
            }
          }
        }
      }
      .bottombar-right {
        display: flex;
        justify-content: flex-end;
        .header-admin {
          position: relative;
          margin-right: 12px;
          a {
            display: flex;
            align-items: flex-start;
            .header-admin__icon {
              position: relative;
              font-size: 2.4rem;
              margin-top: -5px;
              color: #000;
            }
            p {
              margin-left: 2px;
              font-size: 1.6rem;
              font-weight: 600;
              color: var(--title-color);
            }
          }
          
          
        }
        .header-cart {
          position: relative;
          z-index: 5;
          a {
            display: flex;
            align-items: flex-start;
            
            width: 100%;
            height: 100%;
            .header-cart__icon {
              position: relative;
              font-size: 2.4rem;
              margin-top: -5px;
              color: #000;
              .header-cart__number-item {
                display: none;
                position: absolute;
                top: 4px;
                right: -8px;
                background-color: var(--primary-color);
                font-size: 1.3rem;
                font-weight: 600;
                border-radius: 6px;
                padding: 0 4px;
                line-height: 1.2;
                &.is-cart {
                  display: block;
                }
              }
            }

            p {
              margin: 0 0 0 8px;
              font-size: 1.6rem;
              font-weight: 600;
              color: var(--title-color);
            }
          }
          &::after {
            content: "";
            position: absolute;
            top: 80%;
            right: 0;
            width: 100%;
            height: 30px;
            background: transparent;
          }
          &:hover {
            cursor: pointer;
            .header-cart__body {
              display: block;
            }
          }
          .header-cart__body {
            display: none;
            position: absolute;
            right: -40px;
            top: calc(100% + 20px);
            cursor: default;
            box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.1);
            &::before {
              cursor: pointer;
              content: "";
              position: absolute;
              right: 66px;
              top: -26px;
              border-width: 19px 20px;
              border-style: solid;
              border-color: transparent transparent #fff transparent;
            }
            .header-cart__empty {
              background-color: #fff;
              width: 400px;
              text-align: center;
              padding: 20px 0;
              p {
                color: #000;
                font-size: 1.4rem;
              }
              a {
                color: #000;
                font-size: 1.4rem;
                display: inline-block;
                width: 100px;
                &:hover {
                  color: var(--primary-color);
                }
              }
            }

            .header-cart__availabel {
              background-color: #fff;
              width: 460px;
              padding: 16px 0 16px 16px;
              border-radius: 6px;
              box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
              .header-cart__inner {
                max-height: 360px;
                overflow-y: auto;
                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  background-color: #f8f8f8;
                }

                &::-webkit-scrollbar {
                  width: 4px;
                  background-color: #f8f8f8;
                  border: 1px solid red;
                }

                &::-webkit-scrollbar-thumb {
                  background-color: #b1a9a9;
                }
                .header-cart__item {
                  display: flex;
                  margin-bottom: 12px;
                  .header-cart__image {
                    width: 80px;
                    display: flex;
                    img {
                      object-fit: contain;
                      border-radius: 4px;
                    }
                  }
                  .header-cart__item-body {
                    margin: 0 16px 0 8px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .description-item-wrap {
                      position: relative;
                      flex: 1;

                      .cart-item {
                        padding-right: 20px;
                        a {
                          font-size: 1.4rem;
                          line-height: 1.8rem;
                          font-weight: 400;
                          height: 3.6rem;
                          overflow: hidden;
                          display: block;
                          display: -webkit-box;
                          -webkit-box-orient: vertical;
                          -webkit-line-clamp: 2;
                          color: #000;
                          font-weight: 400;
                          &:hover {
                            color: var(--primary-color);
                          }
                        }
                        .cart-item__price {
                          color: var(--primary-color);
                          font-weight: 600;
                        }
                        .cart-item__options {
                          display: inline-block;
                          padding: 1px 6px;
                          border-radius: 4px;
                          background-color: #d5d5d5;
                        }
                      }
                      .btn--delete-item {
                        position: absolute;
                        top: 4px;
                        right: 1px;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        color: #7a7a9d;
                        font-size: 1.8rem;
                        &:hover {
                          cursor: pointer;
                          color: #ff4d4f;
                        }
                      }
                    }
                    .header-cart__item-bottom {
                      display: flex;
                      justify-content: space-between;
                      align-items: end;
                      .cart-item__quantity {
                        display: inline-flex;
                        button {
                          border: 1px solid #7a7a9d;
                          color: #222;
                          line-height: 24px;
                          padding: 0;
                          margin: 0;
                          width: 31px;
                          background-color: #fff;
                          height: 26px;
                          &.item-quantity__btn--minus {
                            border-radius: 12px 0 0 12px;
                          }
                          &.item-quantity__btn--plus {
                            border-radius: 0 12px 12px 0;
                          }
                          &:hover {
                            background-color: var(--primary-color);
                            color: #fff;
                          }
                        }
                        input {
                          display: block;
                          padding: 0;
                          text-align: center;
                          border-radius: 0;
                          width: 35px;
                          min-height: 26px;
                          border: 1px solid #7a7a9d;
                          color: #222;
                          height: 26px;
                          margin: 0;
                          border-left: none;
                          border-right: none;
                          &::-webkit-outer-spin-button,
                          &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                          }
                          &[type="number"] {
                            -moz-appearance: textfield;
                          }
                        }
                      }
                      .cart-item__total-price {
                        span {
                          color: red;
                          font-size: 1.6rem;
                          font-weight: 500;
                        }
                      }
                    }
                  }
                }
              }

              .header-cart__bottom {
                margin-right: 16px;
                .header-cart__total-price {
                  color: #000;
                  padding-bottom: 8px;
                  text-align: right;
                  border-top: 1px solid #d5d5d5;
                  padding-top: 8px;
                  span {
                    color: red;
                    font-weight: 500;
                    font-size: 1.6rem;
                  }
                }
                .header-cart__btn {
                  display: block;
                  width: 100%;
                  border: 1px var(--primary-color) solid;
                  background: var(--primary-color);
                  color: #fff;
                  line-height: 46px;
                  border-radius: 4px;
                  text-align: center;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .header-account {
          display: flex;
          margin-left: 10px;
          align-items: flex-start;
          .header-account__icon {
            font-size: 2.4rem;
            margin-top: -6px;
          }
          .header-account__body {
            margin-left: 4px;
            p {
              margin: 0;
              font-size: 1.6rem;
              color: var(--primary-color);
              font-weight: 600;
            }

            a {
              font-size: 1.6rem;
              color: var(--title-color);
              font-weight: 600;
              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }

        .header-account.user {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 25px;
            position: absolute;
            bottom: -22px;
            left: 0;
            display: block;
            background: transparent;
          }
          &:hover {
            cursor: pointer;
            .header-account__menu {
              display: block;
              box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.1);
            }
          }
          .header-account__menu {
            cursor: default;
            display: none;
            position: absolute;
            z-index: 3;
            background-color: transparent;
            width: 170px;
            right: 0;
            top: 100%;
            margin-top: 8px;
            box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.05);

            ul {
              list-style: none outside;
              padding: 0;
              background-color: #fff;
              min-width: 170px;
              margin-bottom: 0;
              li {
                padding: 0 10px;
                &:last-child {
                  border-top: 1px solid #d9d9d9;
                  margin-top: 8px;
                }
                a {
                  margin: 0;
                  display: block;
                  padding: 5px;
                  width: 150px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 1.4rem;
                  font-weight: 500;
                  color: var(--title-color);
                  &:hover {
                    color: var(--primary-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
