.footer {
    width: 100%;
    background-color: #2a2a86;
    color: #fff;
    min-height: 201px;
    .footer-container {
        width: 100%;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 10px;
        h4 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        a {
            color: #fff;
            &:hover {
                color: var(--btn-primary-color);
            }
        }
        .footer-copyright {
            font-size: 1.4rem;
            border-top: 1px solid #fff;
            text-align: center;
            margin-top: 20px;
            padding-top: 10px;
            a {
                color: var(--btn-primary-color);
            }
        }
        
    }
}